
* {
    box-sizing: border-box; /* all elements include border and padding in size */
} 

html {
    scroll-behavior: smooth;
    font-size: 1.2vw;
}

@media (max-width: 575.98px) {
    html {
    font-size: 3.7vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    html {
    font-size: 2.5vw;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    html {
    font-size: 1.8vw;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    html {
    font-size: 1.45vw;
    }
}
@media (min-width: 1200px) {
    html {
    font-size: 16px;
    }
}


@media (min-width: 1600px) {
    html {
    font-size: 16px;
    }
}

body {
    position: relative;
}

h1, .headp {
    font-family: 'Merriweather Sans', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Roboto Slab', sans-serif;
}

.text {
    font-weight: 300;
    font-size: 2em;
}
p, ul li {
    font-family: 'Nunito Sans', sans-serif;
}
.black {
    color: black;
}
a {
    color: black;
    font-size: 1rem;
}
a:hover {
    background-color: #33b5e5;
    color: white;
}
.slash {
    color: #0a97c2;
}

.hive {
    color: rgb(240, 172, 26);
}

.qfc {
    color: rgb(16, 165, 115);
}

.art {
    color: rgb(212, 78, 25);
}

.pia {
    color: rgb(58, 155, 219);
}

.hov {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hov:hover .image {
  opacity: 0.2;
}

.hov:hover .middle {
  opacity: 1;
  color: black;
}

footer {
    font-size: .8em;
}